# Игнорировать все файлы .log
*.log

# Игнорировать папку сборки (например, для C++ проектов)
build/
__pycache__/ # для Python

# Игнорировать системные файлы, например, .DS_Store на Mac
.DS_Store

# Но НЕ игнорировать важный файл error.log (используя инверсию)
!important.error.log
mintty.exe.stackdump
